extends layout

block content
  h1 Accomodation: #{article.title}
  br
  br
  h2 Photo
  img.className#IdName(src= '/' + article.articleImage alt="Image Title" style='width:350px; height:300px;' )
  br
  h6 Owned by #{author}
  br
  h3 Region: #{article.regions}
  h4 Address: #{article.body}
  h4 Max Capacity: #{article.maxCapacity}
  h4 Price per Stay: #{article.dayPrice}
  br
  h3 Features:
  p= article.features
  br
  h4 Premium Features:
  p= article.premiumFeature1  
  p= article.premiumFeature2
  p= article.premiumFeature3
  p= article.premiumFeature4
  p= article.premiumFeature5
  p= article.premiumFeature6

  


 

  
  hr
  if user
    if user.id ==article.author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
    else
      a.btn.btn-default(href='/bookings/add/'+article._id) Booking