extends layout

block content
    h1 Title: #{booking.title}
    br
    h3 Pic
    img.className#IdName(src= '/' + booking.bookingImage alt="Image devia tar aqui" style='width:350px; height:300px;' )
    br
    h4 Check-In:
    p= booking.checkIn
    h4 Check-Out:
    p= booking.checkOut
    br
    h4 Features:
    p= booking.features

    
    h4 Premium Features :
    p= booking.premiumFeature1
    p= booking.premiumFeature2
    p= booking.premiumFeature3
    p= booking.premiumFeature4
    p= booking.premiumFeature5
    p= booking.premiumFeature6
    
    h5 Created At: 
    p= booking.createdAt
    br
    br
    br    
    br
    br    
    br
    br    
    br
    br    
    br
    br    
    br
    br    
    br
    
    
    

    
    hr
    h7 userID: #{booking.author}
    br
    h7 accomodationID: #{booking.authorArticle}
    br
    h7 status : #{booking.status}
    br
    h8 status: 0 = Booking Request Declined by owner
    br
    h8 status: 1 = Booking Request Pending 
    br
    h8 status: 2 = Booking Request Accepted by owner
    br
    br
    
