extends layout

block content
    h1 Booking: #{booking.title}
    br
    //- h3 Pic
    //- img.className#IdName(src= '/' + article.articleImage alt="Image devia tar aqui" style='width:350px; height:300px;' )
    br
    strong Check-In:
    |  #{booking.checkIn}
    br
    strong Check-Out:
    |  #{booking.checkOut}
    br
    //- h4 Features: 
    //- p= booking.features
    
    br
    br
    h2 Price Details:
    strong Number of Days Booked:
    |  #{booking.numberOfStayingDays}
    br
    strong Accomodation Cost:
    |  #{booking.totalStayingCost}€
    br
    strong Premium Features Cost:
    |  #{booking.totalPremiumFeatures}€
    br
    br
    strong Total Cost:
    |  #{booking.totalPremiumFeatures}€
    


 




    br
    br
    br
    h5 Booked at: 
    p= booking.createdAt

    
    
    

    
    //- hr
    //- h7 userID: #{booking.author}
    //- br
    //- h7 accomodationID: #{booking.authorArticle}
    //- br
    //- h7 status : #{booking.status}
    //- br
    //- h8 status: 0 = Booking Request Declined by owner
    //- br
    //- h8 status: 1 = Booking Request Pending 
    //- br
    //- h8 status: 2 = Booking Request Accepted by owner
    //- br
    //- br
    
