extends layout

block content
    h1 Booking: #{booking.title}
    br
    //- h3 Pic
    //- img.className#IdName(src= '/' + article.articleImage alt="Image devia tar aqui" style='width:350px; height:300px;' )
    br
    strong Check-In:
    |  #{booking.checkIn}
    br
    strong Check-Out:
    |  #{booking.checkOut}
    br
    //- h4 Features: 
    //- p= booking.features
    
    br
    br
    h2 Price Details:
    strong Number of Days Booked:
    |  #{booking.numberOfStayingDays}
    br
    strong Accomodation Cost:
    |  #{booking.totalStayingCost}€
    br
    strong Premium Features Cost:
    |  #{booking.totalPremiumFeatures}€
    br
    br
    strong Total Cost:
    |  #{booking.totalPremiumFeatures}€
    

    br
    br
    br
    small Booked created at: #{booking.createdAt} 
    
    hr
    if user
        if user.id == booking.author
            if booking.status == 1
                a.btn.btn-default(href='/bookings/edit/myBooking/WithBookingID/'+booking.authorArticle+'/'+booking._id) Edit Booking


    

    
